<nav class="nav-extended">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a routerLink="/homeAdmin">Home</a></li>
          <li class="tab"><a routerLinkActive="active" routerLink="/homeAdmin/clientes">Clientes</a></li>
          <li class="tab"><a routerLinkActive="active" routerLink="/homeAdmin/categorias">Categorias</a></li>
          <li class="tab"><a routerLinkActive="active" routerLink="/homeAdmin/platos">Platos</a></li>
        </ul>
    </div>
</nav>