<div class="row mt-20">
    <form class="col m4 s12" [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
        <div class="input-field">
            <i class="material-icons prefix">person</i>
            <input type="text" id="nombre" formControlName="nombre"/>
            <label for="nombre" [ngClass]="{'active': categoriaForm.controls.nombre.value.length > 0 }">Nombre</label>
        </div>
        <div class="center-align">
            <button *ngIf="!edit" type="submit" class="waves-effect waves-light btn-small" [disabled]="categoriaForm.invalid">
                <i class="material-icons left">save</i> Agregar
            </button>
            <button *ngIf="edit" type="button" class="waves-effect waves-light btn-small mr-10" (click)="onUpdate()" [disabled]="categoriaForm.invalid">
                <i class="material-icons left">edit</i> Actualizar
            </button>
            <button *ngIf="edit" type="button" class="waves-effect waves-light btn-small red" (click)="onCancel()">
                <i class="material-icons left">cancel</i> Cancelar
            </button>
        </div>
    </form>
    <div class="col m8 s12">
        <table class="responsive-table highlight centered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias">
                    <td>{{categoria.id}}</td>
                    <td>{{categoria.nombre}}</td>
                    <td>
                        <button class="btn-floating blue mr-10" (click)="onEdit(categoria)"><i class="material-icons">edit</i></button>
                        <button class="btn-floating red" (click)="onDelete(categoria)"><i class="material-icons">delete</i></button>
                    </td>
                </tr>
                <tr *ngIf="categorias.length == 0">
                    <td colspan="4">
                        No hay información disponible
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>